body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.search-container {
    display: block;
    position: relative;
    text-align: center;
    width: 400px;
    height: 370px;
    margin-top: 220px;
    padding: 10px 50px;

    border-color: rgba(128, 128, 128, 0.247);
    border-style: solid;
    border-radius: 30px;
    border-width: 4px;
    background-color: rgba(255, 255, 255, 0.575);
}

.search-btn {
    margin-top: 1px;
    width: 45px;
    height: 37px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #c4c4c4;
    cursor: pointer;
}

.table-container {
    display: none;
    margin-top: 25px;
}

/* SET BACKGROUND COLOR WHEN AUTOCOMPLETING AN INPUT */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

::selection {
    background-color: #3e8a57;
    color: white;
}

.search-container h2,
.search-container p {
  text-align: center;
  display : flexbox;
}