body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../img/pokemon.png');
    background-size: 100%;
}

.search-container {
    display: block;
    position: relative;
    text-align: center;
    width: 300px;
    margin-top: 220px;
    padding: 10px 50px;
    height: 150px;

    border-color: rgba(128, 128, 128, 0.247);
    border-style: none;
    border-radius: 30px;
    border-width: 4px;
    background-color: rgba(255, 255, 255, 0.767);
}

.search-btn {
    margin-top: 1px;
    width: 45px;
    height: 37px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #c4c4c4;
    cursor: pointer;
}

.pokemon-details {
    margin-top: 20px;
    text-align: center;
    border-color: rgba(128, 128, 128, 0.247);
    border-style: none;
    border-radius: 30px;
    border-width: 4px;
    background-color: rgba(255, 255, 255, 0.815);
}

.pokemon-details img {
    width: 150px;
    margin-top: 20px;
    border-color: rgba(128, 128, 128, 0.247);
    border-style: solid;
    border-radius: 30px;
    border-width: 4px;
    filter: drop-shadow(0px 4px 4px #6d6d6d);
}

.pokemon-details h3 {
    margin-top: 15px;
}

.pokemon-details p {
    margin: 5px 0;
}

.pokemon-details button {
    margin: 20px 0px;
    border-color: rgba(128, 128, 128, 0.247);
    border-style: solid;
    border-radius: 30px;
    border-width: 4px;
    font-size: 15px;
    color: #000000;
}

/* GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG */
/* GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG */
/* GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG */
/* GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG */

.panel-container {
    display: none;
    position: relative;
    text-align: center;
    width: 500px;
    margin-top: 105px;
    padding: 10px 50px;
    height: 620px;

    border-color: rgba(128, 128, 128, 0.247);
    border-style: none;
    border-radius: 30px;
    border-width: 4px;
    background-color: rgba(255, 255, 255, 0.767);
}

.scrollable-panel {
    width: 400px;
    height: 480px;
    overflow-y: auto;
    margin: 20px auto;
    padding: 10px;
    padding-right: 4px;

    border-color: rgba(100, 100, 100, 0.329);
    border-style: solid;
    border-width: 4px;
    background-color: rgba(255, 255, 255, 0.575);
}

.item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.item img {
    width: 140px;
    height: auto;
    margin-top: -60px;
}

.itens-info {
    display: block;
    text-align: left;
    padding: 20px 0px;
}

.itens-info h3 {
    font-size: 30px;
}

.itens-info p {
    margin-bottom: 4px;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: -100px;
    margin-top: 180px;
    margin-right: 60px;
}

/* SET BACKGROUND COLOR WHEN AUTOCOMPLETING AN INPUT */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

::selection {
    background-color: #3e8a57;
    color: white;
}

#refreshIcon {
    width : 40px;
}
